@media (max-width: 498px){
  body {
  background-color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
  
  
  overflow-y: auto;
  background-color: #f8d4e3;
  padding-bottom: 100px;
}
}

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  
  font-size: 3.8em;
  color: #ff69b4;
  text-shadow: 2px 2px #ffb6c1;
  text-align: center;
  padding-top: 20px;
  font-family: cursive
}
  
  /* Página 2 - bolo */
 *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
  
.container {
  width: 360%;
  background-color: #eb0d0d;
 
  transform: translate(-50%, -50%);
  top: 100%;
  left: 50%;
  border-radius: 8px;
  box-shadow: 0 20px 45px rgba(120, 76, 10, 0.25);
}


.cake {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: auto;
  
  
  
}

.bottom-layer,
.top-layer,
.middle-layer {
  height: 80px;
  width: 240px;
  position: relative;
  margin: auto;
  z-index: 1;
  background-repeat: repeat;
  background-size: 100% 100%, 60px 100px;
  background-position: 28px 0;
  background-image: linear-gradient(transparent 50px, #FFFACD 50px,  60px, transparent 60px),
  radial-gradient(circle at 30px 5px, #6c3c0c 30px, peru 31px); color: peru;
}
.middle-layer {
  transform: scale(0.85);
  top: 72px;
  animation: rise-1 2s forwards;
}
@keyframes rise-1 {
  100% {
    top: 10px;
  }
}
.top-layer {
  transform: scale(0.7);
  top: 144px;
  animation: rise-2 2s 2s forwards;
}
@keyframes rise-2{
  100% {
    top: 30px;
  }
}
.candle {
  background: repeating-linear-gradient(
    45deg,
    #fd3018 0,
    #fd3018 5px,
    #ffa89e 5px,
    #ffa89e 10px
  );
  height: 45px;
  width: 13px;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0px;
  transform: translateY(245px);
  animation: rise-3 2s 4s  forwards;
  z-index: 1;
  
}
@keyframes rise-3 {
  100% {
    bottom: 202px;
  }
}
.candle:after {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #ffee54;
  border-radius: 0 50% 50% 50%;
  transform: scale(0) rotate(45deg);
  bottom: 53px;
  left: 0.3px;
  animation: flame 1.5s 6s forwards;
}
@keyframes flame {
  100% {
    transform: scale(1) rotate(45deg);
  }
}

.balao {
      position: absolute;
      bottom: 0;
      overflow: hidden;
      width: 50px;
      animation: subir 25s linear infinite;
    }

    @keyframes subir {
      0% {
        bottom: 10px;
        opacity: 0;
      }
      20% {
        opacity: 2;
      }
      100% {
        bottom: 100vh;
        opacity: 0;
      }
    }

.baloes-container{
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      z-index: 10;
    }


    .imagens {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 20px;
      padding: 0px 15px 0;
      box-sizing: border-box;
    }
   .imagens img {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    max-width: 200%;
    height: auto;
    
   }

    .imagens .lado-direito {
      width: 20vw;
      max-width: 200px;
      height: auto;
      
      transform: rotate(15deg);
    
      
      position: relative;
      top: 20px;
     
    }
     .centro {
      width: 40%;
      max-width: 500%;
      height: auto;
      position: relative;
      top: 20px;
      left: 6px;
      
    }
    
    .lado {
      width: 20vw;
      max-width: 50px;
      height: auto;
      left: 10px;
      
     position: relative;
      
      top: 20px;
      transform: rotate(-15deg);
     
    }

    
    
    :root{
      --primary:#fff;
      --bg-color: rgb(5, 53, 61);
      --bg-envelope-color: #f5edd1;
      --envelope-tab: #ecdeb8;
      --envelope-cover: #e6cfa7;
      --shadow-color: rgba(0, 0, 0, 0.2);
      --txt-color: #444;
      --heart-color: rgb(252, 8, 231);
    }
    
    .conteiner{
      height: auto;
      display: grid;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      place-items: center;
      padding-top: 80vh;
      transform: scale(0.8);
      transform-origin: center;
      position: relative;
    
    }

    .conteiner > .envelope-wrapper{
      background: var(--bg-envelope-color);
      box-shadow: 0 0 40px var(--shadow-color);
    }

    .conteiner > .envelope-wrapper > .envelope{
      position: relative;
     
      width: 298px;
      height: 230px;
      ;
    }

    .conteiner > .envelope-wrapper > .envelope::before{
      content: '';
      position: absolute;
      z-index: 2;
      border-top: 130px solid var(--envelope-tab);
      border-right: 150px solid transparent;
      border-left: 150px solid transparent;
      top: 0;
      transform-origin: top;
      transition: all 0.5s ease-in-out 0.7s;
    }

    .conteiner > .envelope-wrapper > .envelope::after{
      content: '';
      position: absolute;
      z-index: 1;
      border-top: 130px solid transparent;
      border-left: 150px solid var(--envelope-cover);
      border-right: 150px solid var(--envelope-cover);
      border-bottom: 100px solid var(--envelope-cover);
      bottom: 0;
    }

    .letter{
      position: absolute;
      z-index: 1;
      right: 22%;
      bottom: 5px;
      width: 58%;
      height: 90%;
      background: var(--primary);
      transition: all 1s ease-in-out;
      padding: 20px 10px;
      box-shadow: 0 0 10px var(--shadow-color);
      top: px;
    }
    
    .letter > .text{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 9.5px;
      color: var(--txt-color);
      text-align: justify;
      line-height: 1.1;
      padding: 2px;
    }

    .heart{
      position: absolute;
      top: 50%;
      left: 51.1%;
      width: 15px;
      height: 15px;
      background: var(--heart-color);
      z-index: 4;
      transform: translate(-50%, -10%) rotate(45deg);
      transition: transform 0.5s ease-in-out 1s;
      box-shadow: 0 0 10px var(--shadow-color);
      cursor: pointer;
    }

    .heart::before,
    .heart::after{
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      background: var(--heart-color);
      border-radius: 50%;
    }
    .heart::before{
      top: -7.5px;
    }
    .heart::after{
      right: 7.5px;
    }

    .flap > .envelope::before{
      z-index: 0;
      transform: rotateX(180deg);
    }
    .flap > .envelope .letter{
      bottom: 100px;
      transform: scale(1.5);
      transition-delay: 1s;
    }
    .flap > .heart{
      transform: rotate(80deg);
      transition-delay: 0.6s;
     
    }
    .flap .letter {
      bottom: 100px;
      transform: scale(1.5);
      z-index: 3;
      transition-delay: 1s;
      ;
    }
    .flap .heart {
       opacity: 0;
      pointer-events: none;
      transition-delay: 0s;
    }
    .heart {
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
      transition-delay: 1s;
    }

    @media (min-width: 200px) {
    #primeira {
      width: 20vh;
      top: 40%;
      padding-top: 7%;
      left: 18%;
      transform: translateY(-50%);
      position: absolute;
      transform: translate(-120px, -180px) rotate(-12deg);
      
    }
    #segunda {
      width: 20vh;
      top: 40%;
      padding-top: 5%;
      left: 60%;
      position: absolute;
      transform: translateY(-50%);
      transform-origin: center;
      transform: translate(100px, -160px) rotate(12deg);
    }
  }

.linha-base{
      width: 100%;
      height: 5.1px;
      background-color: #8B4513;
      margin: 0;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      margin: -50px auto 20px a;
      position: relative;
      z-index: 2;
    
      
      
    }


.player {
  background: white;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  width: 110%;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  top: 50%;
  left: 0%;
}

.track-art {
  width: 100%;
  height: 0px;
  padding-bottom: 75%;
  background-size: cover;
  border-radius: 10px;
  
}
.controls button {
  border: none;
  background: none;
  margin: 0 5px;
  padding: 5px 20px;
  font-size: 25px;
  
}


.track-name, .track-artist {
  margin: 8px 0;
}



.seek-bar, .volume-bar {
  margin-top: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="range"] {
  flex: 1;
  margin: 0 10px;
}




    
    
    
